

div:nth-child(2) {
    margin-top: 6rem;
}

div:nth-child(2) p {
    text-align: center;
    font-weight: 600;
}

main form {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;

    margin: 3rem 5rem 1rem;
}

form input, button, textarea{
    padding: .3rem;
    border: none;

    border: 2px solid #3B3B3B;
    border-radius: 3px;
}
form input:focus, button:focus{
   background-color: #3B3B3B;
}
.primeiro_nome{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
}
.primeiro_nome{
    grid-column-start: 2;
    grid-column-end: 4;
}
.email{
    grid-column-start: 1;
    grid-column-end: 4;
}
.menssagem{
    grid-column-start: 1;
    grid-column-end: 4;
}
button{
    grid-column-start: 1;
    grid-column-end: 4;

    cursor: pointer;
    background-color: #3B3B3B;
    color: #fff;
    font-weight: 550;

    border: none;

}
button:hover{
    background-color: #00C6CF;
    color: #3B3B3B;

}