@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;900&display=swap');

.texto {
    margin-top: 6rem;
}

.texto p {
    text-align: center;
    font-weight: 600;
}

main {
    min-height: 70vh;
}

main form {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    width: 80%;
    margin: 3rem auto 1rem;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: .9em;
    font-weight: 400;
}

form input,
form button,
textarea {
    width: 100%;
    padding: .3rem;
    border: none;

    border: 2px solid #3B3B3B;
    border-radius: 3px;
}

/*form input:focus, button:focus{
   background-color: #3B3B3B;
}*/
form div:nth-child(1) {
    flex: 40%;
}

form div:nth-child(2) {
    flex: 56%;
}

form div:nth-child(3),
form div:nth-child(4), form button{
    flex: 100%;
    min-width: 100%;
}

.menssagem {
    min-width: 100%;
}

form button, #thanks button {

    cursor: pointer;
    background-color: #3B3B3B;
    color: #fff;
    font-weight: 550;

    border: none;

    /*override pading*/
    padding: .5rem 0;

}

form button:hover, #thanks button:hover {
    background-color: #3b3b3b80;
    color: #fff;

}
form input:focus, textarea:focus {
    outline: 1px solid #00C6CF;
    border: 2px solid #00C6CF;
}

::-moz-focus-inner{
    border: 0;
}

/*thanks for the message*/
#thanks{
    position: fixed;

    background-color: #00C6CF;
    width: 50%;
    height: 50%;
    left: 25%;
    bottom: 25%;

    /* center items */
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-between;

    border-radius: 3px;

    visibility: hidden;

}
#thanks img{
    width: 20rem;
}
#thanks p{
    color: #fff;
}
#thanks button{
    max-width: fit-content;
    padding: .5rem 2rem;
    max-height: 3rem;
    margin-bottom: 1rem;

    border-radius: 3px;
    
}

@media screen and (max-width: 530px) {

    main form {

        width: 90%;
    }
}



@media screen and (min-width: 110px) {

    button {

        width: 60%;
        flex: 60%;
    }
}