@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#cabecalho, #intro, #projects{
    margin-right: 1rem;
    margin-left: 1rem;
}

/*header*/

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.5rem 0;
}

#cabecalho header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 50%;
    justify-content: space-evenly;
}
#cabecalho header a{
    text-decoration:  none;
}

/*intro*/

#intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin-top: 5rem;*/
    height: 91vh;
}

/*projects*/
#projects{
    margin-bottom: 5rem;
}
#projects > div{
     display: flex;
     flex-direction: row;
     gap: 1rem;
}

.Projectimage{
    height: 12rem;
    width: 20rem;
}
.project_img1{
    background-image: url("../images/santocoisas.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
}
.project_img2{
    background-image: url("../images/santocoisas.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
}