@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

    color: #3B3B3B;
}

#cabecalho,
#intro,
#contactus {
    margin-right: 1rem;
    margin-left: 1rem;
}

/*header*/

@media screen and (min-width: 550px) {


    #close_menu,
    #open_menu {
        display: none;
    }

    #cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0.5rem 0;
    }

    #cabecalho header {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 50%;
        justify-content: space-evenly;
    }

    #cabecalho header a {
        text-decoration: none;
        padding: .3rem .5rem;
        transition: background-color 1s;
    }

    #cabecalho header a:hover {
        background-color: #00C6CF;
        color: #fff;
        font-weight: bold;
        border-radius: 3px;
    }
}

@media screen and (max-width: 550px) {

    #cabecalho {
        margin-top: 1rem;
    }

    #cabecalho header {

        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - mudar isso com javascript */

        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: flex-start;

        background-color: #00C6CF;
        z-index: 1;
        overflow-x: hidden;
        /*disable horizontal scroll*/
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        transition: width 1s;
    }

    #cabecalho header a:first-of-type {
        margin-top: 7rem;
    }

    #cabecalho header a {
        text-decoration: none;
        text-align: center;
        transition: color 1s;
        padding: .5rem 3rem;

        margin-bottom: 1.4rem;

        background-color: #fff;
        width: 10rem;
    }

    #cabecalho header a:hover {
        background-color: #00C6CF;
        color: #fff;
        font-weight: bold;
    }

    #open_menu,
    #close_menu {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        cursor: pointer;

    }

    #close_menu {
        font-size: 2rem;
        color: #fff;
        width: 2rem;
        border-radius: 50%;

    }
}


/*intro*/

#intro,
#contactus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin-top: 5rem;*/
    height: 91vh;
}

#intro>div p:first-of-type,
#contactus div p:first-of-type {
    font-size: 2rem;
    font-weight: 900;
}

.lastword {
    color: #00C6CF;
}




/*see projecrts */
#seeprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #83A4A4;

    min-height: 50vh;

    padding-left: 1rem;
    padding-right: 1rem;
}

#seeprojects p:first-of-type {
    font-size: 2rem;
    font-weight: bold;
}

#seeprojects p:last-of-type {
    font-size: 1.7rem;
}

#seeprojects a {
    text-decoration: none;

    border: 3px solid #8685EF;
    background-color: #8685EF;
    color: #fff;
    padding: .3rem .5rem;
    border-radius: .2rem;

    margin-top: 2rem;

    transition: background-color 1s;
}

/*link buttons*/

#seeprojects a:hover {
    background-color: rgb(255, 255, 255);
    color: #3B3B3B;
}

/*contact us*/

#contactus {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#contactus div p:last-of-type {
    margin-bottom: 2rem;
}

#contactus div {
    display: flex;
    flex-direction: column;
}

#contactus a {
    text-decoration: none;
    text-align: center;
    background-color: #ffcf2d;
    color: #3B3B3B;


    padding: 0.5rem;
    border-radius: .2rem;

    border: 3px solid #ffcf2d;
    transition: background-color 1s;
}

#contactus a:hover {
    background-color: rgb(255, 255, 255);
    color: #3B3B3B;
}



/*footer*/

footer {

    position: relative;

    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    border-top: 50% solid #3B3B3B;
    background-color: #83A4A4;
}

footer address {
    font-style: normal;
}

/*footer::before{
    border-top: 1px solid #3B3B3B;
    display: block;
    position: relative;
    top: -25px;
    margin: 0 auto;
    width: 75%;
    content: "";
}*/


/*media queries*/

@media screen and (max-width: 730px) {

    #intro>div:last-of-type, #seeprojects,
    #contactus > div:last-of-type {
        text-align: center;
    }

    #seeprojects p:first-of-type {
        font-size: 1.7rem;

    }

    #seeprojects p:last-of-type {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 475px) {
    #seeprojects p:first-of-type {
        font-size: 1.4rem;

    }

    #seeprojects p:last-of-type {
        font-size: 1.1rem;
    }
}